:root {
    --color1: #84994F;
    --color2: #FFE797;
    --color3: #FCB53B;
    --color4: #E6CCA9;
    --color5: #FCFAEE;
    --color6: #A5B68D;
    --color7: #DA8359;
    --color8: #E8EAA1;
    --color9: #3D3931;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lora", serif;
    font-size: 16px;

    background-color: var(--color5);
}

.cabecera {
    text-align: center;
    background-color: var(--color6);
    padding: 1rem;

    .tituloCabecera {
        font-size: 4rem;

        span {
            color: var(--color5);
        }
    }

    .descripcionCabecera {
        font-weight: 600;
        font-size: 2rem;
    }
}

.contenedorLibros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2rem 0;
    gap: 2rem;

    .tarjeta-libro {
        width: 20rem;
        text-align: center;
        padding: 2rem;
        background-color: var(--color4);
        border-radius: .5rem;
        border-bottom: .7rem solid var(--color7);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}

.boton-ver {
    border: none;
    padding: .6rem 4rem;
    background-color: var(--color7);
    color: var(--color9);
    font-weight: 600;

    &:hover {
        background-color: var(--color3);
        cursor: pointer;
    }
}